*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background: #3E517A;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box{
    display: flex;
    justify-content: center;
    gap: 15rem;
}

.addcontact{
  width: 25rem;
  background-color: white;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 20px 0;
}
.addcontact h1{
  color: #FFBF81;
}
form{
  display: flex;
  flex-direction: column;
}
form label{
  margin-bottom: 3px;
}
form input{
  width: 12rem;
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 0.3rem;
  border: 1px solid #FFBF81;
}
form button{
  margin-top: 1rem;
  padding: 15px 10px;
  width: 7rem;
  border-radius: 0.3rem;
  color: #FFBF81;
  border: 1px solid #FFBF81;
  background-color: white;

}

form button:hover {
    background-color: #FFBF81;
    color: white;
}
form button:active{
      scale: 0.95;
}

.contacts{
  width: 30rem;
  background-color: white;
  border-radius: 0.8rem;
  background-color: #333;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.contactCards{
    width: 29rem;
    border: 1px solid white;
    border-radius: 0.8rem;
    margin-bottom: 5px;
}

.contactCard{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 5px;

}
.userIcon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #333;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.info{
  display: flex;

  gap: 5rem;
}

.info h4{
  font-size: 1.3rem;
  color: white;
}
