*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background: #3E517A;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-box{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.addcontact{
  width: 60rem;
  background-color: white;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}
.addcontact h1{
  color: #FFBF81;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }

form input{
  width: 15rem;
  padding: 15px 10px;
  border-radius: 0.3rem;
  border: 1px solid #FFBF81;
  margin-left: 1rem;
}
form button{
  padding: 15px 4rem;
  border-radius: 0.3rem;
  color: #FFBF81;
  border: 1px solid #FFBF81;
  background-color: white;
  margin-top: 1rem;
}

form button:hover {
    background-color: #FFBF81;
    color: white;
}
form button:active{
      scale: 0.95;
}

.contacts{
  width: 75rem;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.contact-card{
  margin: 0.5rem;
  width: 23rem ;
  padding: 0.5rem 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 0.8rem;
  cursor: pointer;

}
.icon{
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #1877F2;
  color: #1877F2;
}

.icon:hover{
  background-color: #1877F2;
  color: white;
}
.info{
  width: 60%;
  margin-left: 0.5rem;
  line-height: 1.2;
}
.info h1{
  font-size: 1.5rem;
}
.info .number{
  font-size: 0.8rem;
  color: #1877F2;
  margin-bottom: 0.2rem;
}
.info .email{
  font-size: 0.6rem;
}

.contact-card button{
  padding: 0.5rem 1.2rem;
  border-radius: 0.8rem;
  border: 1px solid red;
  background-color: white;
  color: red;
}.contact-card button:hover{
  background-color: red;
  color: white;
}
.contact-card button:active{
  scale: 0.95;
}

@media (max-width:1150px){
  .addcontact{
    width: 30rem;
  }
  .addcontact form{
    flex-direction: column;
  }
  .contacts{
    width: 50rem;
  }
  form input{
    margin-bottom: 1rem;
  }
}
@media (max-width:800px){
  .contacts{
    width: 40rem;
  }
}
@media (max-width:500px){
  .addcontact{
    width: 25rem;
  }
  .addcontact form{
    flex-direction: column;
  }
  .contacts{
    width: 35rem;
  }
}
